body {
    font-family: 汉仪菱心体简;
    font-size: 15px;

}


#main_menu
{
    position: fixed;
    top: 0px;
    height: 46px;
    background-color: black;
    width: 100%;
    text-align: center;

    border: 2px solid black;
    z-index: 99;
}
#cont{
    color:white;
    font-family: 汉仪菱心体简;
     font-size: 20px;
    position:absolute;
    left:39%;
    top:320px;

}
#main_menu a
{
    float:none;
    display: inline-block;
    color: white;
    margin-top: -5px;
    margin-left: 30px;
    margin-right: 25px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 迷你简少儿;
    color: white;
}

#intro
{
    height: 46px;
    background-color: black;
    width: 100%;
    text-align: center;
    border: 2px solid black;
}

#intro a
{
    display: inline-block;
    color: white;
    margin-top: -5px;
    margin-left: 15px;
    margin-right: 25px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 迷你简少儿;
    color: white;
    border: 2px solid black;
}

#introduction_text p
{
    font-size: 20px;
    font-family: 迷你简少儿;
    color: black;
}


#main
{
    height: 800px;
    background-image: url(../../images/background.jpg);
    padding-top: 150px;
}

#container_main
{
}

#login
{
    font-size: 30px;
    font-family: 迷你简少儿;
    color: black;
    margin-top: 80px;
}

.btn_login
{
    border-radius: 10px;
    width: 250px;
    height: 55px;
    border: none;
    background-color: #4DB3B3;
    font-family: 汉仪菱心体简;
    font-size: 40px;
    color: white;

    border: 2px solid black;
}



#introduction
{
    width: 100%;
    text-align: center;
    height: 800px;
    background-image: url(../../images/background.jpg);

}

#img_dynamic
{
    margin-top: 70px;
    height: 400px;

}

#carousel-example-generic
{
    box-shadow: 5px 5px 0 0 black;
}



#introduction_text
{
    margin-top: 150px;

}

#btn_introduction
{
    margin-top: 20px;

}

#Button1
{

}



#inform
{
    padding-top: 50px;
    width: 100%;
    text-align: center;
    height: 800px;
    background-image: url(../../images/background.jpg);
}

#inform_inside
{
    width: 1000px;
    height: 100%;
    margin : auto;

    border: 2px solid red;
}



#function
{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    height: 800px;
    background-image: url(../../images/background.jpg);

}

.detail
{
    padding-top: 80px;
}


.funch
{
    font-size: 45px;
    font-family: 迷你简少儿;
    color: #009999;
    text-shadow: 3px 3px 3px white;
}





