#top_outline
{
    padding: 0px;
}

#main_menu
{
    position: fixed;
    top: 0px;
    height: 46px;
    background-color: black;
    width: 100%;
    text-align: center;

    border: 2px solid black;
    z-index: 99;
}

#main_menu a
{
    float:none;
    display: inline-block;
    color: white;
    margin-top: -5px;
    margin-left: 30px;
    margin-right: 25px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 迷你简少儿;
    color: white;
}

.more
{
    float: right;
    font-size: 20px;
    color: #4DB3B3;
    font-family: 迷你简少儿;
}

#top
{
	width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
	background-image: url(../../images/background.jpg);
	font-size: 60px;
    margin-top: 40px;
}

#outline
{
    border: 2px solid #009999;    
}


#message-board {
    margin-top: 50px;
    margin-bottom: 50px;
}

#title {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 45px;
    font-family: 迷你简少儿;
    color: #4DB3B3;
    border-bottom: dashed;
    border-bottom-color: #009999; 
}

#content
{
    margin-top: 20px;
}

#submit
{
    margin-top: 30px;
}

#reset
{
    margin-top: 30px;
}












#messages {
    margin-top: 30px;
    font-size: 30px;
    font-family: YouYuan;
    border-bottom: double;
    border-color: #4DB3B3;
    color: #57a06d; 
}

.label_input {
    font-size: 20px;
    font-family: 'Microsoft YaHei';
}

.input {
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    width: 700px;
    height: 30px;
}

.textbox {
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    width: 700px;
    height: 250px;
}

.button {
    background-color: #99CCFF;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Microsoft JhengHei';
    font-weight: 600;
    color: #336666;
    border-color: #4DB3B3;
}

.type {
    height: 150px;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
    color: #1469d1;
}

#stunum {
    border-bottom: dotted;
    border-color: #99CCFF;
    font-family: 'Microsoft YaHei';
    font-size: 20px;
    color: black;
}