#body 
{
    background-image: url(../../images/background.jpg);
    background-repeat: repeat-x;
    overflow: hidden;
}

#title {
    font-size: 50px;
    font-family: 'Showcard Gothic';
    color: black;
}

#outline
{
    margin-top: 50px;
}

#login a
{
    color: black;
    font-size: 15px;
    font-family: 'Showcard Gothic';
    float: right;
}

#login
{
    margin-top: 20px;
}

#input_name
{
    margin-top: 30px;
}

#input_id
{
    margin-top: 20px;
}

#input_key
{
    margin-top: 20px;
}

#confirm_key
{
    margin-top: 20px;
}

#input_buildingnum
{
    margin-top: 20px;
}

#submit
{
    margin-top: 40px;
    font-size: 25px;
    font-family: 迷你简少儿;
    color: black;
}

#reset
{
    margin-top: 40px;
    font-size: 25px;
    font-family: 迷你简少儿;
    color: black;

}



.label_input
{
    font-size: 25px;
    font-family: 迷你简少儿;
    color: black;
}

#button
{
}